# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Purescript
bower_components/
tmp/
output/
html/index.js
/.psc-package
/.cache
/dist
/.psci_modules
/.spago
/package-lock.json
.spago
.cache
dist
